mysql-data/

.env
.env.local
.env.*.local

node_modules/
bower_components/
tmp/
log/
coverage/
build/
dist/

*.swp
*.swo
.DS_Store

.git
.gitignore

.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

*.out
*.o
*.obj

*.log
